.Footer_Container {
  margin: 0 auto;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: black;
}

.Footer_Container_Centered {
  margin: 0 auto;
  width: 60%;
  /* height: 100px; */
}

.Footer_List_Networking li a {
  text-decoration: none;
  color: white;
}

.Footer_List_Networking li {
  display: flexbox;
  flex-direction: column;
  padding: 5px;
  text-align: center;
  color: white;
}

.Year {
  box-sizing: border-box;
  margin-top: 50px;
}