.Footer_Container {
  margin: 0 auto;
  width: 100%;
  height: 70px;
  background-color: orangered;
}

.Footer_Container_Centered {
  margin: 0 auto;
  width: 80%;
  /* height: 100px; */
  padding-top: 20px;
  background-color: black;
}