.TracksFor_Container {
  width: 100%;
  font-family: 'Rubik', sans-serif;
  background-color:#9f2825;
  margin-top: 45px;
  margin-bottom: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.Musicians_List_Container {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  padding-bottom: 30px;
  /* background-color: orange; */
  text-align: center;
}

.Musicians_List_Row {
  width: 50%;
}

/* .Musicians_List_Item {
  padding: 2px;
} */

.Musicians_List_Item li {
  font-size: 1em;
  list-style: none;
  padding: 0;
  margin: 0;
  padding: 2.5px;
}

.Musicians {
  text-align: center;
}